*{
  margin: 0;padding: 0;border:0;
  }

html, body {
    overflow-x: hidden;
}

body{box-sizing: border-box;
  margin: 0;padding:0;text-decoration: none;color: #404040;background-color: rgb(249, 249, 249);font-family: helvetica;
  }
a{
  text-decoration: none;color: #404040;
  }

nav{z-index: 5;

  padding-top: 1em;
  }

.desktop-link{display: none;
  visibility: hidden;
  }

header{
  z-index: 5;width: 100vw;
  }


i{z-index: 1000;

  color:#404040;
  }
i:hover{
  color: #ffc8ce;
}
.fa.fa-bars{
  font-size: 2.0rem;

}

.fa-bars{position: relative;
    z-index: 1000;
    }

.btn{
  display: inline-block;margin-top: 20px;margin-bottom: 0;padding: 10px 12px;text-align: center;color: #404040;border: 1px solid transparent;border-radius: 7px;background-color: #ffc8ce;font-size: 22px;font-weight: bold;
  }

.btn:hover{
  color: #404040;
  background-color: #ffc8ce;box-shadow:inset 0 -0.7em 0 -0.4em rgba(0,0,0,0.10);;
  }

/*index styles*/



.splash{display: flex;align-content: center;flex-direction: column;justify-content: center;

 height: 90vh;text-align: center;
 }
.splashtext{
  font-size: 2em;
}

/*menu styles*/

.menu{display: flex;align-items: center;flex-direction: row;flex-wrap: wrap;justify-content: space-between;padding-right:2em;

    list-style-type: none;
    }
.menu-links{
  position: absolute;z-index: 10;top: 0;left: 0;overflow: hidden;width: 100vw;height: 100vh;transition: transform 0.2s ease;transform: translateY(-100%);text-align: center;background-color: rgb(249, 249, 249);
  }

.menubutton{z-index: 1000;display: block;
  order: 1;
  }

.menu-links a{text-transform: uppercase;

  color: #404040;font-family: helvetica;font-size: 2.5rem;font-weight: bold;
  }

.menu-links li{
  padding-top: 5rem;
}


.menuOn{
  transform: translateY(0);
}



.contact{
  margin-top: 1em;
}

/*links decoration*/

#about:hover::before{position: absolute;z-index: -1;top: 5.5rem;

  content: 'ABOUT';-webkit-text-stroke-width: 0.75px;-webkit-text-stroke-color: #ffc8ce;-webkit-text-fill-color: transparent;
  }


#projects:hover::before{position: absolute;z-index: -1;top: 13.5rem;

  content: 'PROJECTS';-webkit-text-stroke-width: 0.75px;-webkit-text-stroke-color: #ffc8ce;-webkit-text-fill-color: transparent;
  }

#contact:hover::before{position: absolute;z-index: -1;top: 21.25rem;

  content: 'CONTACT';-webkit-text-stroke-width: 0.75px;-webkit-text-stroke-color: #ffc8ce;-webkit-text-fill-color: transparent;
  }

#CV:hover::before{position: absolute;z-index: -1;top: 29rem;

  content: 'CV';-webkit-text-stroke-width: 0.75px;-webkit-text-stroke-color: #ffc8ce;-webkit-text-fill-color: transparent;
  }

#home:hover::before{position: absolute;z-index: -1;top: 5px;

  content: 'HOME';-webkit-text-stroke-width: 0.75px;-webkit-text-stroke-color: #ffc8ce;-webkit-text-fill-color: transparent;
  }

.email-link:hover::before{position: absolute;z-index: -1;top: 5px;

    content: 'EMAIL ME';-webkit-text-stroke-width: 0.75px;-webkit-text-stroke-color: #ffc8ce;-webkit-text-fill-color: transparent;
    }

.github:hover::before{position: absolute;z-index: -1;top: 5px;

    content: 'GITHUB';-webkit-text-stroke-width: 0.75px;-webkit-text-stroke-color: #ffc8ce;-webkit-text-fill-color: transparent;
    }

.callme:hover::before{position: absolute;z-index: -1;top: 5px;

    content: 'CALL ME';-webkit-text-stroke-width: 0.75px;-webkit-text-stroke-color: #ffc8ce;-webkit-text-fill-color: transparent;
    }
/* logo decorations */

  h1{position: relative;display: block;padding-left: 0.5em;text-transform: uppercase;color: #404040;

  font-family: helvetica;font-size: 2.25rem;
  }
h1::before{position: absolute;z-index: -2;top: 10px;

  content:'CALLUM SIMS';-webkit-text-stroke-width: 1px;-webkit-text-stroke-color: #ffc8ce;-webkit-text-fill-color: transparent;
  }

.name-logo::before{position: absolute;z-index: -1;top: -10px;

  content:'CALLUM SIMS';-webkit-text-stroke-width: 1px;-webkit-text-stroke-color: #ecfbe9;-webkit-text-fill-color: transparent;
  }





/* contact page*/

.contactmain{
  display: flex;align-items: center;flex-direction: column;justify-content: center;width: 100vw;height: 75vh;
  }

.contactmain h2{position: relative;text-align: center;
  text-transform: uppercase;
  }

.flexmain{
  display: flex;align-items: center;flex-direction: column;justify-content: center;width: 75vw;height: 65vh;margin: auto;padding-top: 6.5rem;text-align: center;
  }

.flexmain h2{
  display: inline-block;padding: 0% 5% 0% 5%;font-size: 1.1em;
  }

.obvious{
  position: relative;
}

  .obvious::before{position: absolute;z-index: -2;top: 5px;

    content:'here';-webkit-text-stroke-width: 1px;-webkit-text-stroke-color: #ffc8ce;-webkit-text-fill-color: transparent;
    }

.footer{
  height: 1em;
}

.footwave{
position: fixed;z-index: 11;bottom:0;overflow: hidden;width: 100%;margin:250px 0 0 0;
padding:0;text-align: center;pointer-events: none;

}

/* project styling*/

.projectlist{display: flex;align-items: flex-start;flex-wrap: wrap;justify-content: center;width: 80%;
  margin: 0 auto;padding: 10rem 3rem 10rem 3rem;text-align: center;
  }

.projectitem{display: flex;align-items: center;flex-basis: 300px;justify-content: center;

  width: 50%;padding: 15px 15px 7.5rem 15px;text-align: center;
  }
.project-text{
  width: 80%;margin: 0 auto;text-align: center;
  }

.projectimg{width: auto;
  height: 225px;padding-top: 1em;padding-bottom: 1em;
  }

.projectitem a{
  display: inline;
}

.projectcategory{text-transform: uppercase;

  font-weight: bold;
  }

.projectdesc{

}

@media screen and (min-width: 1000px) and (-webkit-max-device-pixel-ratio: 2){



  .flexmain{
      width: 45vw;padding-top: 5rem;font-size: 1.2em;
      }

  .desktop-link{
    display: inline;visibility: visible;font-size: 1.25rem;
    }

  i{
    color: #ffc8ce;font-size: 20px;
    }
  i:hover{
    color: #ecfbe9;
  }

  h1{
    font-size: 2rem;
  }
}

@media screen and (min-width: 730px){
  h1{
  font-size: 2.5rem;
  }
.fa.fa-bars{
  font-size: 2.5rem;
  }

  .desktop-link{
    display: inline;visibility: visible;text-align: right;font-size: 1.25rem;
    }
.desknav{
  display: inline-block;margin-right: 0;padding-left: 3rem;
  }
.desknav a{
  font-weight: bold;
}
.desknav a:hover{
  color: #ffc8ce;
}
  i{
    display: none;visibility: hidden;
    }
  .menubutton{
    display: none;visibility: hidden;
    }
}
